form{
display: flex;
align-items: center;
align-content: center;
justify-content: center;
justify-items: center;
flex-wrap: wrap;
row-gap: 40px;
&>div{
    width:60%;
    display: flex;
    justify-items: end;
    justify-content: end;
}
}